In [4]:
import numpy as np 
import pandas as pd
import sympy as sym
def f(x):
    return(x**2-4*x-7)
def f1(x):
    return(2*x-4)

x1=5
e=1
x2=x1-(f(x1)/f1(x1))
l=[]
l1=[x1,f(x1),f1(x1),x2]
l.append(l1)

while(e>0.01):
    e=abs(x1-x2)
    x1=x2
    x2=x1-(f(x1)/f1(x1))
    l2=[x1,f(x1),f1(x1),x2]
    l.append(l2)
df=pd.DataFrame(l)
new=df.rename(columns={0:'x1',1:'f(x1)',2:'f1(x1)',3:'x2'});new

         x1         f(x1)    f1(x1)        x2
0  5.000000 -2.000000e+00  6.000000  5.333333
1  5.333333  1.111111e-01  6.666667  5.316667
2  5.316667  2.777778e-04  6.633333  5.316625
3  5.316625  1.753602e-09  6.633250  5.316625