# Method of Bisection

In [1]:
import pandas as pd
import numpy as np
def f(x):
    return(pow(x,3)-2*x-5)
a=1
b=3
x=(a+b)/2
l=[]
l1=[a,b,x,f(a),f(x),f(a)*f(x)]
l.append(l1)
print(l)
for i in range(5):
    if(f(a)*f(x)>0):
        a=x
    else:
        b=x
    x=(a+b)/2
    l2=[a,b,x,f(a),f(x),f(a)*f(x)]
    l.append(l2)
df=pd.DataFrame(l)
new=df.rename(columns={0:'a',1:'b',2:'x',3:'f(a)',4:'f(x)',5:'f(a)*f(x)'})
new

[[1, 3, 2.0, -6, -1.0, 6.0]]

        a      b        x      f(a)      f(x)  f(a)*f(x)
0  1.0000  3.000  2.00000 -6.000000 -1.000000   6.000000
1  2.0000  3.000  2.50000 -1.000000  5.625000  -5.625000
2  2.0000  2.500  2.25000 -1.000000  1.890625  -1.890625
3  2.0000  2.250  2.12500 -1.000000  0.345703  -0.345703
4  2.0000  2.125  2.06250 -1.000000 -0.351318   0.351318
5  2.0625  2.125  2.09375 -0.351318 -0.008942   0.003141

# Trial and Errors

In [2]:
pd.df[names['a','b','x','f(a)','f(x)','f(a)*f(x)']]

AttributeError: module 'pandas' has no attribute 'df'

In [ ]:
E=np.empty((0,6),float);E

In [ ]:
m=np.array([a,b,x,f(a),f(x),f(a)*f(x)]);m

In [ ]:
np.append(E,m)

In [ ]:
a=np.array([1,2,3,4,5,6])

In [ ]:
m=np.append(m,a,axis=0)

In [ ]:
m

In [ ]:
m=np.matrix(m,nrow=6,ncol=True)

In [ ]:
l=[a,b,x,f(a),f(x),f(a)*f(x)];l

In [ ]:
l2=[1,2,3,4,5,6]
pd.DataFrame(l2)

In [ ]:
l3=[]

In [ ]:
l3.append(l)
l3.append(l2)

In [ ]:
l3

In [ ]:
pd.DataFrame(l3)

In [2]:
import pandas as pd
import numpy as np
def f(x):
    return(x**3-2*x-5)
a=1
b=3
x=(a+b)/2
l1=[a,b,x,f(a),f(x),f(a)*f(x)]
d=pd.DataFrame(l1).T
for i in range(5):
    if(f(a)*f(x)>0):
        a=x
    else:
        b=x
    x=(a+b)/2
    l2=[a,b,x,f(a),f(x),f(a)*f(x)]
    d1=pd.DataFrame(l2).T
    d=pd.concat([d,d1],axis=0)
d

        0      1        2         3         4         5
0  1.0000  3.000  2.00000 -6.000000 -1.000000  6.000000
0  2.0000  3.000  2.50000 -1.000000  5.625000 -5.625000
0  2.0000  2.500  2.25000 -1.000000  1.890625 -1.890625
0  2.0000  2.250  2.12500 -1.000000  0.345703 -0.345703
0  2.0000  2.125  2.06250 -1.000000 -0.351318  0.351318
0  2.0625  2.125  2.09375 -0.351318 -0.008942  0.003141