In [13]:
import pandas as pd
import numpy as np
def f(x):
    return(pow(x,3)+x+1)
x0=0
x1=1
x2=x1-((x1-x0)/(f(x1)-f(x0)))*f(x1)
print(x2)
l=[]
l1=[x0,x1,f(x0),f(x1),x2]
l.append(l1)
e=1
while(e>0.01):
    e=abs(x1-x2)
    x0=x1
    x1=x2
    x2=x1-((x1-x0)/(f(x1)-f(x0)))*f(x1)
    l2=[x0,x1,f(x0),f(x1),x2]
    l.append(l2)
df=pd.DataFrame(l)
new=df.rename(columns={0:'x0',1:'x1',2:'f(x0)',3:'f(x1)',4:'x2'});new

-0.5

         x0        x1     f(x0)     f(x1)        x2
0  0.000000  1.000000  1.000000  3.000000 -0.500000
1  1.000000 -0.500000  3.000000  0.375000 -0.714286
2 -0.500000 -0.714286  0.375000 -0.078717 -0.677108
3 -0.714286 -0.677108 -0.078717  0.012454 -0.682187
4 -0.677108 -0.682187  0.012454  0.000338 -0.682328

In [4]:
import pandas as pd
import numpy as np
def f(x):
    return(x**3+x+1)
x0=0
x1=1
x2=x1-(x1-x0)*f(x1)/(f(x0)-f(x1))
l=[]
l1=[x0,x1,f(x0),f(x1),x2]
l.append(l1)
l

[[0, 1, 1, 3, 2.5]]

In [2]:
abs(4-5)

1